<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Chess Board</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <table class="chess-board">
    <tr>
      <th></th>
      <th class="rank-label">a</th>
      <th class="rank-label">b</th>
      <th class="rank-label">c</th>
      <th class="rank-label">d</th>
      <th class="rank-label">e</th>
      <th class="rank-label">f</th>
      <th class="rank-label">g</th>
      <th class="rank-label">h</th>
      <th></th>
    </tr>
    <tr>
      <th class="file-label">8</th>
      <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      <th class="file-label">8</th>
    </tr>
    <tr>
      <th class="file-label">7</th>
      <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      <th class="file-label">7</th>
    </tr>
    <tr>
      <th class="file-label">6</th>
      <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      <th class="file-label">6</th>
    </tr>
    <tr>
      <th class="file-label">5</th>
      <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      <th class="file-label">5</th>
    </tr>
    <tr>
      <th class="file-label">4</th>
      <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      <th class="file-label">4</th>
    </tr>
    <tr>
      <th class="file-label">3</th>
      <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      <th class="file-label">3</th>
    </tr>
    <tr>
      <th class="file-label">2</th>
      <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      <th class="file-label">2</th>
    </tr>
    <tr>
      <th class="file-label">1</th>
      <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
      <th class="file-label">1</th>
    </tr>
    <tr>
      <th></th>
      <th class="rank-label">a</th>
      <th class="rank-label">b</th>
      <th class="rank-label">c</th>
      <th class="rank-label">d</th>
      <th class="rank-label">e</th>
      <th class="rank-label">f</th>
      <th class="rank-label">g</th>
      <th class="rank-label">h</th>
      <th></th>
    </tr>
  </table>
</body>

</html>