.chess-board {
  margin: 2% auto;
  border-collapse: collapse;
  border: 1px solid #f0d9b5
}

.chess-board th.file-label {
  padding: 0 2px;
}

.chess-board td {
  width: 55px;
  height: 55px;
  font-size: 40px;
  text-align: center;
}

.chess-board .light {
  background-color: #f0d9b5;
}

.chess-board .dark {
  background-color: #b58863
}

.chess-board .light.highlighted {
  background-color: #989898
}

.chess-board .dark.highlighted {
  background-color: #696969
}