* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #eee;
  height: 100%;
}

#board-container {
  padding: 12px 0;
  min-height: 100%;
  box-sizing: border-box;
}

.footer {
  color: #655;
  height: 12px;
  margin-top: -16px;
  text-align: center;
  font-size: 12px;
}

.chessboard {
  border-collapse: collapse;
  margin: 0 auto;
  user-select: none;
}

.chessboard th {
  font-weight: 500;
  color: #433;
  font-size: 14px;
}

.chessboard td {
  width: 52px;
  height: 52px;
  font-size: 36px;
  text-align: center;
}

.chessboard tr:first-child th {
  height: 22px;
}

.chessboard tr:last-child th {
  height: 22px;
}

/* === borders === */

.chessboard tr:first-child th:not(:first-child):not(:last-child) {
  border-bottom: 1px solid #433;
}

.chessboard tr:last-child th:not(:first-child):not(:last-child) {
  border-top: 1px solid #433;
}

.chessboard tr:not(:first-child):not(:last-child) th:first-child {
  border-right: 1px solid #433;
  width: 22px;
}

.chessboard tr:not(:first-child):not(:last-child) th:last-child {
  border-left: 1px solid #433;
  width: 22px;
}

/* === dark and light squares === */

.chessboard tr:nth-child(even) td:nth-child(even),
.chessboard tr:nth-child(odd) td:nth-child(odd) {
  background-color: #edb;
}

.chessboard tr:nth-child(even) td.target-square:nth-child(even),
.chessboard tr:nth-child(odd) td.target-square:nth-child(odd) {
  color: #b86;
}

.chessboard tr:nth-child(even) td:nth-child(odd),
.chessboard tr:nth-child(odd) td:nth-child(even) {
  background-color: #b86;
}

.chessboard tr:nth-child(even) td.target-square:nth-child(odd),
.chessboard tr:nth-child(odd) td.target-square:nth-child(even) {
  color: #edb;
}

/* === behaviour === */

.chessboard td.occupied,
.chessboard td.target-square {
  cursor: pointer;
}

.chessboard td.highlighted {
  box-shadow: inset 0 0 6px 3px #433;
}

.chessboard td.target-square:after {
  content: '\2022';
}

.chessboard td.captured-piece {
  box-shadow: inset 0 0 6px 3px #a22;
}